@import "tailwindcss";
@plugin "@tailwindcss/forms";
.custom-style {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to right, #295c81 30%, #258bd3 30%, #2099efdf 40%);
}
body {
  @apply pt-[6.5rem];
}

.active {
  @apply bg-sky-600 text-white;
}

/* انا اللي عايز كدا 😁 */
form div input:focus {
  border-color: transparent;
}

.btn:hover > span {
  visibility: visible !important;
  /* bottom: 110px;
  right: 5px; */
}
span::after {
  content: "";
  position: absolute;
  bottom: -28px;
  left: 50%;
  transform: translateX(-50%);
  width: 0px;
  height: 0px;
  border: 15px solid red;
  border-color: #222 transparent transparent transparent;
  /* background-color: red; */
}

@media (max-width: 440px) {

}
